.DS_Store
data/
*/.ipynb_checkpoints/
*/.Rhistory
midterm-project/reviews
week11/train
week11/validation
dogs_cats_10_0.687.h5
cats-dogs-v2.tflite
week11/train.zip
capstone-project/dataset
capstone-project/tmp
*.h5
capstone-project/__pycache__
capstone-project/cats_and_dogs
